<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE REVIEW SITE| BY VAISHNAVRAM.K</title>

    <!-- Swiper JS CSS-->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <!-- Scroll Reveal -->
    <link rel="stylesheet" href="css/scrollreveal.min.js">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<!-- Header -->
    <header class="header">
            <nav class="nav container flex">
                    <a href="#" class="logo-content flex">
                        <i class="fa-light fa-film fa-2xs" style="color: #171616;"></i>
                        <span class="logo-text">CLIPTOP WRITING CLUB</span>
                    </a>

                    <div class="menu-content">
                            <ul class="menu-list flex">
                                    <li><a href="#home" class="nav-link active-navlink">HOME</a></li>
                                    <li><a href="#about" class="nav-link">ABOUT</a></li>
                                    <li><a href="#menu" class="nav-link">MOVIE LIST</a></li>
                                    <li><a href="#review" class="nav-link">TV SHOWS</a></li>
                                    <p><%= UserDetails.name %></p>
                                    <a href="/">
                                        <button class="btn">LogOut</button>
                                        </a> 
                            </ul>

                            <div class="media-icons flex">
                                    <a href="https://www.facebook.com"><i class='bx bxl-facebook'></i></a>
                                    <a href="https://twitter.com/i/flow/login"><i class='bx bxl-twitter' ></i></a>
                                   
                            </div>

                            <i class='bx bx-x navClose-btn'></i>
                        </div>
                        <i class='bx bx-menu navOpen-btn'></i>
                </nav>
        
    </header>

<!-- Home Section -->
    <main>
        <section class="home" id="home">
                <div class="home-content">
                        <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                                <img src="iamges\5af94c1164ce45a348c42b794e3a5641.jpg" alt="" class="home-img">
                                                <img src="iamges\mahan.jpg" alt="" class="home-img">
                                                <img src="iamges\b020ac33d64bf65f001fa51b63870253.jpg" alt="" class="home-img">


                                                <div class="home-details">
                                                        <div class="home-text">
                                                                
                                                                <h2 class="homeTitle">WRITE WHAT YOUR   <br> HEART DESIRE</h2>
                                                        </div>

                                                       
                                                </div>
                                        </div>

                                        <div class="swiper-slide">
                                                <img src="iamges\6937fb9849ce5195bc0ea4cfecfa7152.jpg" alt="" class="home-img">
                                                <img src="iamges\vik.jpg" alt="" class="home-img">
                                                <div class="home-details">
                                                        <div class="home-text">
                                                                
                                                                <h2 class="homeTitle">A good review from the critics  <br> is just another stay of execution.</h2>
                                                        </div>

                                                        
                                                </div>
                                        </div>

                                        <div class="swiper-slide">
                                                <img src="iamges\doc.jpg" alt="" class="home-img">
                                                <img src="iamges\b020ac33d64bf65f001fa51b63870253.jpg" alt="" class="home-img">


                                                <div class="home-details">
                                                        <div class="home-text">
                                                                
                                                                <h2 class="homeTitle">The whole of life is just like watching a film <br>  but subjective reactions</h2>
                                                        </div>

                                                        
                                                </div>
                                        </div>
                                </div>

                                <div class="swiper-button-next swiper-navBtn"></div>
                                <div class="swiper-button-prev swiper-navBtn"></div>
                                <div class="swiper-pagination"></div>
                        </div>
                </div>
        </section>

    
<!-- About Section -->
        <section class="section about" id="about">
                <div class="about-content container">
                        <div class="about-imageContent">
                                <img src="/room/c7096ce5ba1c179fcc4a8a6a0cb7f3ae.jpg" alt="" class="about-img">

                                <div class="aboutImg-textBox">
                                        <i class='bx bx-heart heart-icon flex'></i>
                                        <p class="content-description">Only for movie lovers</p>
                                </div>
                        </div>

                        <div class="about-details">
                                <div class="about-text">
                                        <h4 class="content-subtitle"><i> by CTWC</i></h4>
                                        <h2 class="content-title"> <br> THE ARENA TO WRITE</h2>
                                        <p class="content-description">we give space to the people to write what they want about the film</p>

                                        <ul class="about-lists flex">
                                                <li class="about-list">watch</li>
                                                <li class="about-list dot">.</li>
                                                <li class="about-list">write</li>
                                                <li class="about-list dot">.</li>
                                                <li class="about-list">repeat</li>
                                        </ul>
                                </div>

                                <div class="about-buttons flex">
                                        <button class="button">About Us</button>
                                        <a href="#" class="about-link flex">
                                                <span class="link-text">see more</span>
                                                <i class='bx bx-right-arrow-alt about-arrowIcon'></i>
                                        </a>
                                </div>
                        </div>

                </div>
        </section>

    
<!-- Menu Section for movie list-->
<section class="section menu" id="menu">
        <div class="menu-container container">
                <div class="meu-text">
                        <h4 class="section-subtitle"><i>MOVIE LIST</i></h4>
                        
                </div>

                <div class="menu-content">
                        <div class="menu-items">
                                <div class="menu-item flex">
                                        <img src="iamges\beast.jpg" alt="" class="menu-img">

                                        <div class="menuItem-details">
                                                <h4 class="menuItem-topic">BEAST</h4>
                                                <p class="menuItem-des">SPY/THRILLER</p>
                                        </div>

                                        <div class="menuItem-price flex">
                                            <a href="/reviewlist?movieName=Beast&UserDetails=<%= encodeURIComponent(JSON.stringify(UserDetails)) %>">
                                                    <button class="btn">review</button>
                                                  </a> 
                                                  <a href="review.html">
                                                        <button class="btn"> write a review</button>
                                                      </a>
                                        </div>
                                </div>
                                <div class="menu-item flex">
                                        <img src="iamges\vikaram.jpg" alt="" class="menu-img">

                                        <div class="menuItem-details">
                                                <h4 class="menuItem-topic">vikram</h4>
                                                <p class="menuItem-des">drama/thriller</p>
                                        </div>

                                        <div class="menuItem-price flex">
                                            <a href= "/reviewlist?movieName=Vikram&UserDetails=<%= encodeURIComponent(JSON.stringify(UserDetails)) %>">
                                                    <button class="btn">review</button>
                                                  </a>
                                                  <a href="review.html">
                                                        <button class="btn"> write a review</button>
                                                      </a>
                                        </div>
                                </div>
                                <div class="menu-item flex">
                                        <img src="iamges\Thunivu_poster.jpg" alt="" class="menu-img">

                                        <div class="menuItem-details">
                                                <h4 class="menuItem-topic">thunivu</h4>
                                                <p class="menuItem-des">HEIST/thriller</p>
                                        </div>

                                        <div class="menuItem-price flex">
                                            <a href="/reviewlist?movieName=Thunivu&UserDetails=<%= encodeURIComponent(JSON.stringify(UserDetails)) %>">
                                                    <button class="btn">review</button>
                                                  </a>
                                                  <a href="review.html">
                                                        <button class="btn"> write a review</button>
                                                      </a>
                                               
                                </div>
                                <div class="menu-item flex">
                                        <img src="iamges\ps-1.jpg" alt="" class="menu-img">

                                        <div class="menuItem-details">
                                                <h4 class="menuItem-topic">ps-1</h4>
                                                <p class="menuItem-des">histroical</p>
                                        </div>

                                        <div class="menuItem-price flex">
                                            <a href="/reviewlist?movieName=PS1&UserDetails=<%= encodeURIComponent(JSON.stringify(UserDetails)) %>">
                                                    <button class="btn">review</button>
                                                  </a>
                                                  <a href="review.html">
                                                        <button class="btn"> write a review</button>
                                                      </a>
                                                
                                        </div>
                                </div>
                        </div>

        <!-- Menu Section for tv list -->
        <section class="section menu" id="menu">
                <div class="menu-container container">
                        <div class="meu-text">
                                <h4 class="section-subtitle"><i>TV SHOWS</i></h4>
                                
                        </div>
        
                        <div class="menu-content">
                                <div class="menu-items">
                                        <div class="menu-item flex">
                                                <img src="iamges\va.jpg" alt="" class="menu-img">
        
                                                <div class="menuItem-details">
                                                        <h4 class="menuItem-topic"> VADHANDHI</h4>
                                                        <p class="menuItem-des">CRIME/THRILLER</p>
                                                </div>
        
                                                <div class="menuItem-price flex">
                                                    <a href="/reviewlist?movieName=Vandhandi&UserDetails=<%= encodeURIComponent(JSON.stringify(UserDetails)) %>">
                                                            <button class="btn">review</button>
                                                          </a> 
                                                        <a href="review.html">
                                                                <button class="btn"> write a review</button>
                                                              </a> 
                                                </div>
                                        </div>
                                        <div class="menu-item flex">
                                                <img src="iamges\suzhal.jpg" alt="" class="menu-img">
        
                                                <div class="menuItem-details">
                                                        <h4 class="menuItem-topic">SUZHAL</h4>
                                                        <p class="menuItem-des">physo/thriller</p>
                                                </div>
        
                                                <div class="menuItem-price flex">
                                                    <a href="/reviewlist?movieName=Suzhal&UserDetails=<%= encodeURIComponent(JSON.stringify(UserDetails)) %>">
                                                            <button class="btn">review</button>
                                                          </a>
                                                          <a href="review.html">
                                                                <button class="btn"> write a review</button>
                                                              </a> 
                                                </div>
                                        </div>
                                        <div class="menu-item flex">
                                                <img src="iamges\navarasa.jpg" alt="" class="menu-img">
        
                                                <div class="menuItem-details">
                                                        <h4 class="menuItem-topic">NAVARASA</h4>
                                                        <p class="menuItem-des">fam drama</p>
                                                </div>
        
                                                <div class="menuItem-price flex">
                                                    <a href="/reviewlist?movieName=Navarasa&UserDetails=<%= encodeURIComponent(JSON.stringify(UserDetails)) %>">
                                                            <button class="btn">review</button>
                                                          </a>
                                                          <a href="review.html">
                                                                <button class="btn"> write a review</button>
                                                              </a>
                                                       
                                        </div>
                                        <div class="menu-item flex">
                                                <img src="iamges\ps-1.jpg" alt="" class="menu-img">
        
                                                <div class="menuItem-details">
                                                        <h4 class="menuItem-topic">AYALI</h4>
                                                        <p class="menuItem-des">WOMEN BASED THRILLER</p>
                                                </div>
        
                                                <div class="menuItem-price flex">
                                                    <a href="/reviewlist?movieName=Ayali&UserDetails=<%= encodeURIComponent(JSON.stringify(UserDetails)) %>">
                                                            <button class="btn">review</button>
                                                          </a>
                                                          <a href="review.html">
                                                                <button class="btn"> write a review</button>
                                                              </a>
                                                        
                                                </div>
                                        </div>
                                </div>
        
       

<!-- LASTEST Section -->
        <section class="section newsletter">
            <div class="newletter-container container">
                <a href="#" class="logo-content flex">
                        <i class="fa-light fa-film fa-2xs" style="color: #171616;"></i>
                        <span class="logo-text">CLIPTOP WRITING CLUB</span>
                    </a>
                        <div class="newsletter media-icons flex">
                        <a href="https://www.facebook.com"><i class='bx bxl-facebook'></i></a>
                        <a href="https://twitter.com/i/flow/login"><i class='bx bxl-twitter' ></i></a>
                        <a href="https://www.instagram.com/accounts/login"><i class='bx bxl-instagram-alt' ></i></a>
        
                </div>
            </div>
        </section>
        
    
<!-- Footer Section -->
        <footer class="section footer">
            <div class="footer-container container">
                    <div class="footer-content">
                        <a href="#" class="logo-content flex">
                                <i class="fa-light fa-film fa-2xs" style="color: #171616;"></i>
                                <span class="logo-text">CTWC MERCHANDISING</span>
                            </a>

                            <p class="content-description">T-shirts</p><br>
                            <p class="content-description">shirts</p><br>
                            <p class="content-description">posters</p><br>
                            <p class="content-description">weap pockets</p><br>
                            <p style="text-align:center"style="color:white"><b>based on cini designs</b></p>

                                
                            </div>
                    </div>

            <div class="footer-copyRight">&#169; KVR enterprises. All rigths reserved</div>
        </footer>

<!-- Scroll Up -->
        <a href="#home" class="scrollUp-btn flex">
                <i class='bx bx-up-arrow-alt scrollUp-icon'></i>
        </a>

</main>

<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>

<!-- Scroll Reveal -->
<script src="js/scrollreveal.js"></script>

<!-- JavaScript -->
    <script src="js/script.js"></script>
</body>
</html>